#content {
    background-color: DarkRed;
    font-size: 30px;    
    color: white;
    border-style: solid;
    border-color: navy;
    padding: 30px 10px;
    text-align: center;
}

#section {
    display: flex;
    margin: 50px, 50px;
}

#section2 {
    display: flex;
    margin: 50px, 50px;
    justify-content: center;
    font-size: 35px;
}

header {
    font-size: 45px;
    padding: 45px;
    text-align: center;
    align-content: center;
}

body {
    font-family: arial, "Time New Roman";
    font-size: 20px;
    background: white url(https://cdn.pixabay.com/photo/2020/07/23/17/54/mountain-5431950_960_720.png) repeat top right;
    display: block;
    margin: 8px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkRed;
    color: white;
}

img {
    border: 1px black solid;
}

a:actove {
    color: red;
}

a:hover {
    text-decoration: none;
    color: blue;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
}

li {
    background-color: #fff;;
}

.itermMenu {
    border-style: outset;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-right: 750px;
    margin-left: 750px;
    position: relative;    
    animation: example 10s linear infinite alternate;
    
}

@keyframes example {
    0%   {background-color:rgb(0, 220, 255); left:0px;}
    25%  {background-color:rgb(0, 140, 255); left:200px;}
    50%  {background-color:blue; left:0px;}
    75%  {background-color:rgb(0, 30, 255); left:-200px;}
    100% {background-color:navy; left:0px;}
  }